.cube-loader {
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-wrapper {
  transform-style: preserve-3d;
}

.cube-span {
  transform: rotateY(calc(90deg * var(--i))) translateZ(32px);
  background: linear-gradient(
    to bottom,
    hsl(270, 100%, 25.1%) 0%,
    hsl(270, 100%, 32.06%) 5.5%,
    hsl(270, 100%, 36.88%) 12.1%,
    hsl(270, 100%, 40.7%) 19.6%,
    hsl(270, 100%, 43.88%) 27.9%,
    hsl(270, 100%, 46.58%) 36.6%,
    hsl(270, 100%, 48.91%) 45.6%,
    hsl(270, 100%, 50.91%) 54.6%,
    hsl(270, 100%, 52.62%) 63.4%,
    hsl(270, 100%, 54.08%) 71.7%,
    hsl(270, 100%, 55.29%) 79.4%,
    hsl(270, 100%, 56.28%) 86.2%,
    hsl(270, 100%, 57.04%) 91.9%,
    hsl(270, 100%, 57.59%) 96.3%,
    hsl(270, 100%, 57.93%) 99%,
    hsl(270, 100%, 58.04%) 100%
  );
}

.cube-top {
  background: hsl(270, 100%, 58.04%) 100%;
  transform: rotateX(90deg) translateZ(32px);
  transform-style: preserve-3d;
}

.cube-top::before {
  background: hsl(270, 100%, 70%) 19.6%;
  transform: translateZ(-84.5px);
}
